settingsRepository
tasks
terminal
workspace
c.kdbx
c.pwd
idea.key
idea64.exe.vmoptions
plugin_PIEDIS.license
plugin_PMINBATIS.license
port
port.lock
plugins
disabled_plugins.txt
eval
actionSummary.xml
alibaba-toolkit-startUp.xml
debugger.xml
other.xml
path.macros.xml
recentProjects.xml
window.state.xml
jdk.table.xml
usage.statistics.xml
KeyPromoterXStatistic.xml
KeyPromoterXSettings.xml
event-log-metadata
cachedDictionary.xml
